.botton{
background-color: black;
color: aliceblue;
padding: 15px 30px;
border-radius: 10px;
cursor: pointer;
align-content: center;
/* Transição */
transition-property: background-color, trasform ;
transition-duration: 0.7;
transition-timing-function: ease-out;
}


.botton:hover{
background-color: blue;
transform: scale(1.10);
transition-duration: 0.7;
transition-timing-function: ease-out;
position: relative;
}